@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background: #80edf7;
    
}
.chatbox{
    width: 500px;
    min-width: 390px;
    height: 640px;
    background: #fff;
    padding: 25px;
    margin: 100px auto;
    box-shadow: 10px 10px 30px rgb(25, 25, 25),
    -10px -10px 30px rgb(60, 60, 60);
    border-radius: 20px;
    /* background: #eee; */
    transition: all .3s;
} 
.chatbox:hover{
    background-image: linear-gradient(163deg, #00ff75 0%, #7653f3 100%);
}
/* icons svg styling */
.chatbox .icons {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
 }
 .icons .svg-wrapper {
    margin-left: 15rem;
 }
 .icons .svg-wrapper svg {
    margin-left: 15px;
 }
 .chat-name-photo {
    float: left;
    width: 50px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
 }
 .icons .chat-friend-name{
    display: block;
    margin-left: 0.3em;
    /* transition: all 0.3s ease-in-out; */
    color: #212121;
    font-weight: 700;
    font-size: 1.2rem;
 }
/* icons svg styling */

.chatlogs{
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar {
    width: 10px;   
}
.chatlogs::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(0, 0, 0, .1);
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img{
    width: 100px;
}
.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    /* background: #1ddced; */
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}
.friend .chat-message {
    background: #2C3F50;
    border-radius: 20px 1px 20px 1px;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
    border-radius:1px 20px 1px 20px;
}

/* CHAT FORM STYLING*/
    .chat-form {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
    }
    .chat-form textarea{
        background: #fbfbfb;
        width: 75%;
        height: 50px;
        border: 2px solid #eee;
        border-radius: 3px;
        resize: none;
        padding: 10px;
        font-size: 18px;
        color: #333;
    }
    .chat-form textarea:focus{
        background: #fff;
    }

    .chat-form textarea::-webkit-scrollbar {
        background-color: #212121;
        max-width: 190px;
        width: 10px;
        height: 40px;
        padding: 10px;
        border: 2px solid white;
        border-radius: 5px;
    }.chat-form textarea:focus{
        color: rgb(0, 255, 255);
        background-color: #212121;
        outline-color: rgb(0, 255, 255);
        box-shadow: -3px -3px 15px rgb(0, 255, 255);
        transition: .1s;
        transition-property: box-shadow;
    }
    .chat-form textarea::-webkit-scrollbar-thumb {
       border-radius: 10px;
       background: rgba(0, 0, 0, .1);
    }

    .chat-form button{
        font-size: 20px;
        background: #1ddced;
        color:  #fff;
        padding: 0.6em 1em;
        padding-left: 0.9em;
        margin: 0 10px;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 3px;
        overflow: hidden;
        transition: all 0.2s;
        cursor: pointer;

    } .chat-form button span {
            display: block;
            margin-left: 0.3em;
            transition: all 0.3s ease-in-out;

    } .chat-form button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
       }
    .chat-form button:hover .svg-wrapper{
        background-color: rgba(65, 243, 243, 0.781);
        color: rgb(44, 157, 157);
        box-shadow: 0 0 1em 0.25em
        rgb(110, 235, 235),
        0 0 4em 2em
        rgba(65, 243, 243, 0.781),
        inset 0 0 0.75em 0.25em
        rgb(110, 237, 237);
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }
    .chat-form button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
       }
    .chat-form button:hover span {
        transform: translateX(5em);
    }
    .chat-form button:active {
    transform: scale(0.95);
    }
    
    
/* CHAT FORM STYLING*/

@media screen and (max-width: 400px) {
    .chatbox {
      width: 100%;
      font-size: 80px;
    }
  }